@if(userInfo$$()) {
<div class="user-container">
  <div class="user-wrapper">
    <div class="image-container">
      <img class="image" [src]="userInfo$$()!.profile_image!.large" alt="image-detail" />
    </div>

    <div class="user-info-container">
      <div class="user-info">
        <span class="user-name">{{ userInfo$$()!.name }}</span>
        <span class="user-bio">{{ userInfo$$()!.bio }}</span>
        @if(userInfo$$()!.location) {
        <div class="location-container" (click)="goTolocationSearch(userInfo$$()!.location)">
          <mat-icon class="material-icons-outlined">location_on</mat-icon>
          <span class="user-location">{{ userInfo$$()!.location }}</span>
        </div>
        }
        <div class="user-stats-container">
          <div class="social-media-container">
            @if(userInfo$$()!.social!.portfolio_url) {
            <div class="social-media-portfolio">
              <mat-icon>public</mat-icon>
              <a [href]="userInfo$$()!.social!.portfolio_url" target="_blank">Portfolio </a>
            </div>
            } @if(userInfo$$()!.social!.instagram_username) {
            <div class="social-media-instagram">
              <a
                class="instagram-link-container"
                href="https://www.instagram.com/{{ userInfo$$()!.social!.instagram_username }}/"
                target="_blank"
              >
                <img class="instagram-icon" src="assets/icons/instagram.png" alt="Instagram" />
                <span class="instagram-username">{{
                  userInfo$$()!.social!.instagram_username
                }}</span>
              </a>
            </div>
            }
          </div>
        </div>
        @if(userInfo$$()!.tags.custom.length > 0) {
        <div class="user-interests">
          <span class="interests-title">Interests:</span>
          <mat-chip-set class="category-chips">
            @for (userTag of userInfo$$()!.tags.custom; track userTag.title) {
            <mat-chip class="chip" (click)="openCategory(userTag.title)">{{
              userTag.title
            }}</mat-chip>
            }
          </mat-chip-set>
        </div>
        }
      </div>
    </div>
  </div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="navigation-tabs">
    <a
      mat-tab-link
      [routerLink]="['.']"
      (click)="setActiveLink('photos')"
      [active]="activeLink() === 'photos'"
    >
      <mat-icon class="nav-icon material-icons-outlined">image</mat-icon>
      Photos ({{ formatNumber(userInfo$$()!.total_photos) }})
    </a>
    <a
      mat-tab-link
      [routerLink]="['likes']"
      (click)="setActiveLink('likes')"
      [active]="activeLink() === 'likes'"
    >
      <mat-icon class="nav-icon material-icons-outlined">favorite</mat-icon>
      Likes ({{ formatNumber(userInfo$$()!.total_likes) }})
    </a>
    <a
      mat-tab-link
      [routerLink]="['collections']"
      (click)="setActiveLink('collections')"
      [active]="activeLink() === 'collections'"
    >
      <mat-icon class="nav-icon material-icons-outlined">photo_library</mat-icon>
      Collections ({{ formatNumber(userInfo$$()!.total_collections) }})
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <div class="tab-content">
      @switch (activeLink()) { @case ('photos') {
      <photos-list class="photos-list" [userName]="userInfo$$()!.username"> </photos-list>
      } @case ('likes') {
      <photos-list class="photos-list" [userName]="userInfo$$()!.username" [isUserLiked]="true">
      </photos-list>
      } @case ('collections') {
      <user-collections-list [userName]="userInfo$$()!.username"> </user-collections-list>
      } }
    </div>
  </mat-tab-nav-panel>
</div>
}
