<div class="photo-container" (scroll)="onScroll($event)">
  @for (photo of listPhotos; track photo.id) {
  <div class="photo-wrapper">
    <photo-card class="photo-card" [photo]="photo"></photo-card>
    <div class="author-info" (click)="goToUserDetail(photo.user.username)">
      <img
        [src]="photo.user.profile_image.small"
        alt="{{ photo.user.name }}"
        class="author-avatar"
      />
      <div class="author-details">
        <span class="author-name">{{ photo.user.name }}</span>
        <span class="author-username">{{ photo.user.username }}</span>
      </div>
    </div>
  </div>
  }
</div>

@if(isLoading) {
<div class="loading">
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>
}
