<div class="searcher-container">
  <img
    class="logo"
    src="assets/images/fondoBlanco.png"
    alt="logo-image"
    (click)="navigateTohome()"
  />
  <form (ngSubmit)="search()" class="search-form">
    <div class="search-container">
      <button mat-icon-button type="button" class="search-button" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <input
        type="text"
        class="search-input"
        placeholder="Search"
        [ngModel]="searchTerm$$()"
        (ngModelChange)="searchTerm$$.set($event)"
        name="searchTerm"
        (keyup.enter)="search()"
      />
      @if(searchTerm$$()) {
      <button mat-icon-button type="button" class="close-button" (click)="navigateTohome()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </div>
  </form>
</div>
